<%-include("header"); -%> 
<% include ./logo %>
    <div class="auth-box">
        <% include ./partials/alerts %>
        <p>Create customised lists at the click of a button and keep your life on track!</p>
        <div class="flex-links">
            <h2><a href="http://localhost:5000/register">Register</a></h2>
            <h2><a href="http://localhost:5000/login">Login</a></h2>
        </div>
        
        
    </div>
    

<%-include("footer"); -%> 